<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
		<%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
	<% end %>
<% else %>
	No restaurants yet!
<% end %>

<a href='/restaurants/new'>Add a restaurant</a>
